1. Create a list 'mySecondList' with the following elements in it: 'a', 'b', 23, True. Extract out the last element using reverse indexing. Change the element at index 1 to 'bat'. Print out the modified list.

In [3]:
import sys
stdout = sys.stdout
reload(sys)
sys.setdefaultencoding('utf-8')

NameError: name 'reload' is not defined

In [1]:
mySecondList= ['a', 'b', 23, True]

In [2]:
print(mySecondList[-1])

True

In [ ]:
mySecondList[1] = 'bat'

In [ ]:
print(mySecondList)

2. Read in an integer number using 'input' function . Using if-else statement, check if the number is even or odd. If even, print out "Number is even". If odd, print out "Number is odd" (HINT: Use % or .format operator). What if the number is 0?

In [ ]:
n= int(input())
if (n % 2 == 0):
    print("Number is even")
else:
    print("Number is odd")

3. Using a for loop and range() function, print out all the odd numbers between 20-30.

In [ ]:
for i in range(20,30,1):
    print(i)

4.Create two variables: 'var1' with values 1-5 and 'var2' with values 10-20 in steps of 2 (i.e., 10,12,14,... etc). Using list comprehensions, print out result of (var1+var2) only if (var1+var2) is a multiple of 3.

In [ ]:
var1 = [i for i in range(5)]
var2 = [i for i in range(10,20, 2)]
for i in [a + b for a, b in zip(var1, var2)]:
    if i%3 == 0:
        print(i)

5.Create a dictionary 'myDict' with the following (key, value) pairs. ('Name', "XYZ"), ('Batch', 44), ("Location", "Bangalore"). Iterate over the dictionary and print out the following (order doesn't matter):
My Name is XYZ
My Batch is 44
My Location is Bangalore

In [ ]:
myDict = {'Name':"XYZ", 'Batch': 44, "Location": "Bangalore"}
for entry in myDict:
   print ('My', entry, 'is', myDict[entry])

Create a tuple named 'myTup' with the following elements: 1, 2, 'abc'. Print this tuple. Access the first two elements of the tuple. Can you add another element 'xyz' to myTup? What should we do if we want to get (1, 2, 'abc', 'xyz') using the existing tuple?

In [ ]:
myTup = (1,2,, 'abc')
print(myTup[0], myTup[1])

Can you add another element 'xyz' to myTup?

Answer: NO. A tuple is immutable

What should we do if we want to get (1, 2, 'abc', 'xyz') using the existing tuple?

Answer: Create a new tuple by adding myTuple and another tuple

In [ ]:
newTup=myTup+('xyz',)

Define a function which would take a number 'n' as input and compute the sum of natural numbers till n. Example if input number is 5, the function returns the result: 1+2+3+4+5
HINT: You can also use the shortcut formula n(n+1)/2. So for n = 5, result = 5*6/2 = 15

In [ ]:
def sumn(n):
    return int(n*(n+1)/2)

Write a function 'F' which would take in two numbers. Based on user choice 1 == add the numbers or 2 == multiply the two numbers, perform the operation and return the appropriate results.

In [ ]:
def F(a,b, op):
    if(op == '1'):
        return a*b
    if(op == '2'):
        return a+b

a= int(input())
b= int(input())
op = input()
print(F(a,b, op))

Create a lambda function which would take in 3 inputs i, j and k, and computes the multiplication of i, j and k.

In [ ]:
mult3 = lambda x, y, z : x * y *z

Create a lambda function to multiply 5 to any given number.
a. Create a list 'myList' with numbers 0-5. Map the created lambda function to myList. Print the results.

In [ ]:
mult5 = lambda x : 5*x

In [ ]:
myList=list(range(5))
list(map(m5, myList))

Create a list with the following elements: 'a', 'b', 'c', 'i', 'o'. Using ‘filter’ function , extract out the vowels in the list.

In [ ]:
l=['a', 'b', 'c', 'i', 'o']
list(filter(lambda x: x in ['a','e','o','u'], l))

12) Write a function that takes it's input as a list of integers and returns the sum of the list of squared values of integers which are odd from the input list.

In [ ]:
def f(l) :
    return sum(map(lambda x: x*x, filter(lambda x: x%2 == 1, l)))

13)Read the "train.csv" file provided to you into python and print the

In [8]:
import pandas as pd
import os
os.chdir('/Users/bsriram/Downloads')
df = pd.read_csv('train.csv')

a. summary of the dataset.

In [7]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

b. the first and last 3 rows of the dataset.

In [9]:
print(df[:3])
print(df[-3:])

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
     PassengerId  Survived  Pclass                                      Name  \
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch      Ticket   Fare Cabin Embarked
888  female   NaN      1      2  W./C. 6607  23.45   NaN        S
889    male  26.0      0      0      111369  30.00  C148        C
890    male  32.0      0      0      370376   7.75   NaN        Q

14) For a list of lists containing the first names and last names, use list comprehension to obtain a list of full names, e.g. for an input list [['Bruce', 'Wayne'], ['Hadley', 'Wickham'],['Clark', 'Kent']] the return value should be ['Bruce Wayne', 'Hadley Wickham', 'Clark Kent'].

In [17]:
l=[['Bruce', 'Wayne'], ['Hadley', 'Wickham'],['Clark', 'Kent']]
list(map(' '.join, l))

['Bruce Wayne', 'Hadley Wickham', 'Clark Kent']

15. Create a data-frame using three lists:
L1 = [“Lamborghini”, “Bugatti”, “Ferrari”, ”Audi R8”, “Tesla”]
L2 = [1.5, 1, 3, 4, 10]
L3 = [“Not bought”, “Bought”, “Not bought”, “Bought”, “Not bought”]

In [22]:
L1 = ["Lamborghini", "Bugatti", "Ferrari", "Audi R8", "Tesla"]
L2 = [1.5, 1, 3, 4, 10]
L3 = ["Not bought", "Bought", "Not bought", "Bought", "Not bought"]
data_dict = {'Brand':L1, 'price':L2, 'status':L3}
df = pd.DataFrame(data_dict)
df

         Brand  price      status
0  Lamborghini    1.5  Not bought
1      Bugatti    1.0      Bought
2      Ferrari    3.0  Not bought
3      Audi R8    4.0      Bought
4        Tesla   10.0  Not bought

16)In the train.csv function apply the data pre-processing methods discussed in class. There are no specific questions for this, just play around with the dataset and make sure you are familiar with the functionality and syntax.